/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #fff !default;
$text-color: #222831 !default;
$muted-text-color: #393E46 !default;
$primary-color: #6D9886 !default;
$border-color: mix(#fff, #393E46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #393E46 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
